.answer-container {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 1150px;
  color: #4c5264;
  .answer-container-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    .header-columns {
      display: flex;
      .announcement-date-container {
        display: flex;
        padding: 5px;
        .notification-date {
          color: #60c3ff;
          padding: 0 5px;
        }
      }
      .post-header-editPost-column {
        margin-right: 5px;
        position: relative;
        width: 100px;
        height: 20px;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        img {
          cursor: pointer;
          object-fit: contain;
          width: 30px;
        }
      }
    }
  }
  .answer-container-body {
    justify-content: space-between;
    display: flex;
    .answer-container-text {
      padding: 5px;
    }
  }
}
.edit-post-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100%;
  .edit-post-container {
    // height: 120px;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 5px;
    .edit-post-container-header {
      margin: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding: 5px;
    }
    .edit-post-container-body {
      margin: 5px;
      padding: 0 5px;
      .selected-permission {
        background-image: $hiro-gradient;
        color: #fff;
      }
    }
    p {
      cursor: pointer;
      padding: 5px 10px 3px;
      margin: 2px;
    }
  }
  .edit-post-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.popup .create-new-post {
  height: 70vh;
  width: 1150px;
  .new-post-form {
    height: 100%;
  }
}
.popup .basicPopup {
  width: 1200px;
  .admin-create-question {
    padding: 0%;
  }
}
.drop-zone {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 40px;
  .priview-item-container {
    display: flex;
    flex-wrap: wrap;
    .uploaded-media-container {
      position: relative;
      .videoplayer-container {
        width: 200px;
        height: 120px;
      }
      .create-post-image-preview {
        width: 120px;
        height: 120px;
      }
    }
  }
}
.fine-uploader-dropzone-container {
    position: absolute;
    bottom: 0;
}
.ant-message-success {
    span {
        color: #4c5264;
    }
}
