.select-categories-container {
  padding: 95px 5% 5%;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  .select-categories-container-header {
    color: #4c5264;
    font-size: 18px;
    margin-bottom: 10px;
    span {
      color: #f84430;
    }
  }
  .big-title {
    font-family: ubuntu-bold;
    color: #5887f9;
    font-size: 18px;
  }
  .select-categories-container-body {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 5px;

    .dashboard-category {
      border-radius: 5px;
      padding: 8px;
      margin: 8px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 12px;
      color: #fff;
      border: 2px solid transparent;
      text-rendering: optimizelegibility;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    }
    .dashboard-category-title {
      color: #4c5264;
      text-shadow: unset;
    }
  }
}
.admin-create-question {
  padding: 5%;

  .create-new-post-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .create-new-post-container {
      width: 100%;
    }
    .create-post-btn {
      margin: 10px;
      background-image: $hiro-gradient;
      font-size: 14px;
      height: 30px;
      font-size: 14px;
      line-height: 0;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      p {
        padding-bottom: 0;
        cursor: pointer;
      }
    }
  }
}
.show-selected-subcategories {
  color: #4c5264;
  padding: 0px 150px;
  margin: 0 auto;
  max-width: 1150px;
  display: flex;
  .show-selected-subcategory {
    margin: 5px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    small {
      position: absolute;
      right: 5px;
      top: -5px;
      cursor: pointer;
      color: #4c5264;
    }
  }
}
.select-category-selectBox-datepicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .datePicker-container {
    width: 415px;
    .form-input {
      width: 100%;
    }
  }
}

span {
  color: #f84430;
}

.select-category-selectBox {
  color: #4c5264;
  padding: 60px 150px;
  margin: 0 auto;
  max-width: 1150px;
  p {
    padding-bottom: 10px;
  }
}
.announcements-page-container {
  padding: 90px 5% 5%;
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
  .select-category-selectBox {
    padding: unset;
  }
}
.selectBox {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: #fafafa;
}
.create-post-buttons-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  .react-fine-uploader-file-input-container span {
    display: none;
  }
  .add-media-post {
    height: 30px;
    display: flex;
    align-items: center;
    .add-media {
      width: 30px;
      height: 26px;
      position: absolute;
      bottom: 0px;
    }
    span {
      color: #60c3ff;
      padding-left: 35px;
      cursor: pointer;
    }
  }
  .uploaded-media-item-remove {
    position: absolute;
    width: 90%;
    height: 120px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
