.gm-control-active, .gmnoprint, .gm-style-cc {
    display: none;
} 
.controls{
    width: 95%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 10px;
    margin: 15px auto;
    font-size: 16px;
}