
// timelane buttons
.timeline-nav {
    display: flex;
    padding-top: 20px;
    .timeline-nav-tab {
        color: #4C5264;
        cursor: pointer;
        border-right: 1px solid #E2E8ED;
        padding: 5px 35px;
        margin: 15px 0;
        text-decoration: none;
        text-align: center;
        :first-child {
            font-size: 16px;
            cursor: pointer;
        }
        :last-child {
            font-size: 12px;
            cursor: pointer;
        }
    }
    .timeline-nav-videos{
        border: none;
    }
}
// user send message
.action-button-container{
    display: flex;
    justify-content: flex-start;
    button {
        background-image: $hiro-gradient;
        font-size: 14px;
        height: 30px;
        font-size: 14px;
        line-height: 0;
        width: 100px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            cursor: pointer;
        }
    }
}
.bio {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    border : 1px solid #E6E6E6;
    font-size: 14px;
    :first-child {
        color: #60C3FF;
        padding-bottom: 10px;
    }
    :last-child{
        color: #4C5264;
    }
}

.form-input {
    color: #4C5264;
}

.display-none {
    display: none;
}
.visibility-hidden {
    visibility: hidden;
}

.like-icon{
    background-image: url('/assets/images/icons/like-icon.svg');
}
.like-full{
    background-image: url('/assets/images/icons/like-full.svg');
}
.comment-icon {
    background-image: url('/assets/images/icons/comment.svg');
}
.share-icon {
    background-image: url('/assets/images/icons/share.svg');
}
.message-icon {
    background-image: url('/assets/images/icons/messenger.svg');
}
.notification-icon {
    background-image: url('/assets/images/icons/notification.svg');
}
.settings-icon {
    background-image: url('/assets/images/icons/settings.svg');
}
.search-icon {
    background-image: url('/assets/images/icons/search-icon.svg');
}
.add-friend {
    background-image: url('/assets/images/icons/add-friend.svg');
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.edit-icon {
    background-image: url('/assets/images/icons/edit.svg');
}
.close-button {
    background-image: url('/assets/images/icons/close.svg');
}
.message-popup-smile {
    background-image: url('/assets/images/icons/happy-icon.svg');
}
.message-popup-send {
    background-image: url('/assets/images/icons/send.svg');
}
.seen-msg-icon {
    background-image: url('/assets/images/icons/seen.svg');
}
.empty-elipse {
    background-image: url('/assets/images//icons/Ellipse-empty.svg');
}
.add-media {
    background-image: url('/assets/images/icons/add-new-photo.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.suggested-friends-for-responsive {
   display: none;
}