.home-second-container {
    height: 50vh;
    font-size: 20px;
    color: $hero-font-color;
    .text-container {
        display: flex;
        align-items: center;
        .about-text {
            flex: 0.5;
            padding: 100px;
        }
    }
    .right-text-container {
        justify-content: flex-end;
    }
    .about-img {
        background: red
    }
}