.our-location-container {
    position: relative;
    bottom: 40vh;
  .our-location-container-header-container {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    padding: 70px 0;
  }
  .locations-pin-container {
    display: flex;
    justify-content: center;
    .location-image-box {
        margin: 15px;
        img {
            border-radius: 50%;
        }
    }
  }
}
