@media only screen and (max-width: 1200px) {
  .signIn-main-container .column .timeline-nav {
    justify-content: space-evenly;
    .timeline-nav-tab {
      padding: 5px 5px 5px 0;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .main-container {
    .sign-up-steps {
      flex: 0 0 35%;
      .background .layer .center-box .select-checkbox-container {
        padding-left: 2rem;
        .info {
          font-size: 16pt;
        }
      }
    }
    .signIn-main-container {
      .column {
        .user-image-container .cover-pic p {
          padding-left: 5px;
        }
        .edit-Subcategory div {
          padding-left: 10px;
        }
      }
      .newsFeed-container {
        .right-column {
          width: 40%;
          .right-column-body .frends-image-box {
            width: 110px;
            height: 110px;
          }
        }
      }
    }
    .sign-up-main-container-content {
      flex: 0 0 65%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .main-container {
    .isSignin-user-main-container-content .main-container-header .container {
      .logo-column {
        width: 250px;
      }
      .header-right-column {
        justify-content: flex-start;
        width: 60%;
        .search-container {
          flex: 1;
          .form-input {
            font-size: 14pt;
            border-radius: 5pt;
          }
          i {
            right: 3%;
          }
        }
        .nots-container {
          flex: 0.55;
          .notification-icons-container {
            justify-content: flex-end;
            padding-left: 50px;
          }
        }
      }
    }
    .signIn-main-container {
      .left-column {
        max-width: 250px;
        .user-image-container .cover-pic p {
          padding-left: 20px;
        }
        .edit-Subcategory div {
          padding-left: 25px;
        }
      }
      .newsFeed-container {
        max-width: 600px;
        .center-column {
          width: 90%;
          .post-column-header {
            margin: 15px 0;
            font-size: 14pt;
          }
          .post-container {
            .post-header .post-header-user-column .post-header-info {
              .post-header-name {
                font-size: 14pt;
              }
              .post-header-date {
                font-size: 8pt;
              }
            }
            .post-body {
              font-size: 14pt;
              .post-mediaContent {
                .post-image {
                  width: 90px;
                  height: 90px;
                }
                .big-media-array-container .shadowBox p {
                  font-size: 40pt;
                }
              }
            }

            .post-footer {
              form {
                width: 100%;
                .form-input {
                  width: 100%;
                }
              }
              .post-footer-icons-container {
                width: 35%;
                justify-content: flex-end;
                .post-footer-icons {
                  margin: 0 5px;
                }
              }
            }
          }

          .suggested-friends-for-responsive {
            display: flex;
            flex-direction: column;
            overflow-x: auto;
            .suggested-friends-for-responsive-friends-container {
                display: flex;
            }
            .tablet-frends-image-box {
              width: 95px;
              height: 95px;
              .small-paragraph-first {
                font-size: 5pt;
              }
              .small-paragraph-last {
                font-size: 4pt;
              }
            }
          }
        }
        .right-column {
          display: none;
        }
      }
    }

    .main-container-content .main-container-header .container .form-inline .form-inline-container {
      .form-group {
        width: 175px;
        small {
          font-size: 10pt;
          bottom: -15px;
        }
      }
      label,
      button {
        font-size: 14pt;
      }
    }
    .sign-up-steps .background .sign-up-steps-desc {
      font-size: 12pt;
    }

    .sign-up-main-container-content .sign-up-body .sign-up-body-container .container-body {
      justify-content: flex-start;
      .select-category-image-box {
        width: 175px;
        height: 175px;
        margin: 10px 20px 10px 0px;
        div {
          p {
            font-size: 15pt;
          }
          :last-child {
            font-size: 9pt;
          }
        }
      }
    }
  }
  .datePicker-container .react-datepicker-popper {
    max-width: 330px;
    .react-datepicker__navigation--previous {
      left: 100px;
    }
    .react-datepicker__navigation--next {
      right: 100px;
    }
    .react-datepicker .react-datepicker__header .react-datepicker__day-name {
      margin: 10px 0 0 1.5%;
    }
  }
  .signIn-main-container .column {
    .timeline-nav {
      padding-top: 0;
      .timeline-nav-tab {
        padding: 5px 5px 5px 0;
        :first-child {
          font-size: 16pt;
        }
        :last-child {
          font-size: 12pt;
        }
      }
    }
    .user-image-container {
      .cover-pic {
        height: 130px;
        p {
          width: 25%;
          font-size: 14pt;
        }
      }
      .profile-pic {
        top: 40%;
      }
    }
    .edit-Subcategory div {
      width: 20%;
      font-size: 12pt;
    }
    .bio {
      :first-child,
      :last-child {
        font-size: 14pt;
      }
    }
  }
  .userColumn-action-button-container div button {
    font-size: 13pt;
    border-radius: 5pt;
  }
  .friends-container {
    .friends-header .friends-nav-tab {
      font-size: 14pt;
    }
    .friends-body {
      .frends-image-container {
        width: 160px;
        height: 160px;
        div {
          :first-child {
            font-size: 13pt;
          }
          :last-child {
            font-size: 9pt;
          }
        }
      }
      .action-button-container {
        div {
          width: 98px;
          .btn p {
            font-size: 12pt;
          }
        }
      }
    }
  }

  .isSignIn-footer .container {
    font-size: 14pt;
  }
}
@media only screen and (max-width: 875px) {
  .main-container .signIn-main-container .newsFeed-container {
    max-width: 535px;
  }
}
@media only screen and (max-width: 768px) {
  .main-container {
    .sign-up-steps .background .sign-up-steps-desc p {
      font-size: 12pt;
    }
    .sign-up-main-container-content {
      .main-container-header {
        height: 140px;
        align-items: flex-start;
        .container {
          height: 100%;
          .form-inline {
            height: 100%;
            align-items: flex-start;
            .form-inline-container {
              flex-wrap: wrap;
              justify-content: space-between;
              .form-group {
                width: 45%;
                small {
                  bottom: unset;
                }
              }
              .header-submit-container {
                width: 100%;
                margin-top: 25px;
                display: flex;
                justify-content: flex-end;
                button {
                  width: 25%;
                }
              }
            }
          }
        }
      }
      .forgot-container-body {
        margin: 0;
        width: 90%;
        .container-header :first-child {
          font-size: 30pt;
          padding: 10%;
        }
        .container-header :last-child {
          font-size: 21pt;
          padding: 5% 10% 10%;
          text-align: center;
        }
        .forgot-form-container .forgot-form {
          label,
          input,
          button {
            font-size: 14pt;
          }
        }
        .popup .basicPopup .popup-body {
          .popup-body-message,
          .popup-body-link-message {
            font-size: 16pt;
          }
        }
      }
    }
    .main-container-content .sign-up-body {
      .container {
        max-width: 1040px;
        width: 90%;
        margin-right: 50px;
      }

      .sign-up-body-container {
        .container-header {
          :first-child {
            font-size: 30pt;
          }
          :last-child {
            font-size: 24pt;
          }
        }
        .first-step {
          justify-content: center;
        }
        .container-body {
          padding-top: 20px;
          .sign-up-step .sign-up-step-input-group {
            margin: 0 10%;
            .form-group {
              margin: 10px 0;
            }
            .password-form-group i {
              width: 25px;
              height: 25px;
              top: unset;
            }
            label,
            .position .form-input,
            input {
              font-size: 16pt;
            }
            .create-step {
              margin-bottom: 25px;
              button {
                font-size: 13pt;
              }
              .step-desc {
                bottom: -45px;
                font-size: 11pt;
              }
            }
            .checkbox {
              width: 200px;
            }
          }
        }
      }
    }
  }

  .popup {
    .subCatergory {
      .popup-header {
        font-size: 24pt;
      }
      .popup-body {
        div span {
          font-size: 12pt;
        }
      }
    }
    .popup-footer .popup-form {
      .popup-input,
      button {
        font-size: 12pt;
      }
    }
  }

  .controls {
    width: 90%;
  }
}
