@media only screen and (max-width: 1875px) {
  .main-container
    .isSignin-user-main-container-content
    .main-container-header
    .container
    .header-right-column
    .nots-container {
    flex: 0.35;
  }
  .main-container .isSignin-user-main-container-content .main-container-header .container {
    .logo-column {
      width: 30%;
      flex: unset;
    }
    .header-right-column {
      flex: 1;
      justify-content: space-between;
      margin: 0 auto;
      .search-container {
        width: 55%;
        margin: 0 auto;
      }
      .nots-container {
        width: 40%;
        flex: unset;
        .notification-icons-container {
          padding-right: 10%;
        }
      }
    }
  }

  .signIn-main-container {
    .column {
      flex: unset;
      width: 30%;
      .user-image-container .cover-pic p {
        width: 40%;
      }
      .edit-Subcategory div {
        width: 38%;
      }
      .timeline-nav .timeline-nav-tab {
        padding: 5px 30px;
      }
    }
    .newsFeed-container {
      flex: unset;
      width: 70%;
      .center-column {
        width: 55%;
        flex: unset;
      }
      .right-column {
        width: 40%;
        flex: unset;
      }
    }
    .search-friends-container {
      flex: 1;
      .search-friends-contnent {
        width: 55%;
        flex: unset;
        margin: 0 auto;
      }
      .right-column {
        width: 40%;
        flex: unset;
      }
    }
    .friends-container {
      flex: unset;
      width: 67%;
    }
    .media-container {
      flex: 0.83;
    }
  }
  .popup .imageSlider .popup-body .imageSlider-image-raw {
    min-height: 650px;
    .imageSlider-image {
      height: 650px;
      width: 650px;
    }
  }
  .edit-container .column .user-image-container {
    .cover-pic {
      width: 100%;
    }
    .edit-Subcategory {
      width: 100%;
      div {
        width: 45%;
      }
    }
  }
}
@media only screen and (max-width: 1700px) {
  .edit-container .column .user-image-container .edit-Subcategory div {
    width: 40%;
  }
  .right-column .right-column-body .frends-image-box {
    width: 170px;
    height: 170px;
  }
  .post-container {
    .post-body .post-mediaContent {
      .post-image {
        width: 120px;
        height: 120px;
      }
      .videoplayer-container {
        width: 220px;
        height: 150px;
      }
    }
    .post-footer {
      form {
        width: 75%;
      }
      .post-footer-icons-container {
        width: 15%;
      }
    }
  }
}
@media only screen and (max-width: 1540px) {
  .main-container .isSignin-user-main-container-content .main-container-header .container {
    .header-right-column {
      flex: unset;
      width: 70%;
      .nots-container {
        width: 30%;
      }
    }
    .search-container {
      width: 60%;
      margin: 0 auto;
    }
    .nots-container {
      width: 30%;
      margin: 0 auto;
    }
  }
  .signIn-main-container {
    .column {
      flex: unset;
      width: 30%;
    }
    .newsFeed-container {
      flex: unset;
      width: 70%;
      .center-column {
        margin: 0 auto;
      }
      .right-column {
        margin: 0 auto;
        width: 30%;
        .right-column-body .frends-image-box {
          width: 185px;
          height: 185px;
        }
      }
    }
  }
  .edit-container .column .user-image-container .edit-Subcategory div {
    width: 35%;
  }
}

@media only screen and (max-width: 1420px) {
  .main-container {
    .sign-up-steps {
      flex: 0 0 40%;
      .background {
        a {
          margin: 10px 15%;
        }
        .sign-up-steps-desc {
          display: flex;
          justify-content: center;
          p {
            width: 75%;
          }
        }
      }
    }
    .sign-up-main-container-content {
      flex: 0 0 60%;
      .main-container-header {
        padding: 3%;
        justify-content: space-between;
        .container .form-inline {
          justify-content: flex-start;
          .form-inline-container {
            width: 100%;
          }
        }
      }
      .sign-up-body .sign-up-body-container .container-body {
        justify-content: center;
        .sign-up-step {
          flex-direction: column;
          .sign-up-step-input-group {
            width: 80%;
            margin: 10px 10%;
          }
        }
      }
    }
    .newsFeed-container {
      .center-column {
        .post-container .post-footer {
          .form-input {
            width: 90%;
          }
          .post-footer-icons-container {
            width: 20%;
          }
        }
      }
    }
  }
  .edit-container .column .user-image-container .edit-Subcategory div {
    width: 30%;
  }
}
@media only screen and (max-width: 1380px) {
  .signIn-main-container .column .timeline-nav .timeline-nav-tab {
    padding: 5px 15px;
  }
}
@media only screen and (max-width: 1280px) {
  .main-container {
    .isSignin-user-main-container-content
      .main-container-header
      .container
      .header-right-column
      .nots-container
      .notification-icons-container {
      justify-content: center;
      padding: 0;
    }

    .sign-up-steps .background {
      justify-content: flex-start;
      .layer {
        margin: 130px 0;
      }
    }

    .sign-up-main-container-content {
      .sign-up-body .sign-up-body-container .container-body .sign-up-step .sign-up-step-input-group {
        margin: 10px 10% 0;
      }
      .main-container
        .sign-up-main-container-content
        .sign-up-body
        .sign-up-body-container
        .container-body
        .sign-up-step
        .sign-up-step-input-group
        .forgot-container-body
        .popup
        .basicPopup {
        .popup-body .popup-body-message {
          font-size: 20px;
        }
      }
    }
    .signIn-main-container .newsFeed-container .right-column {
      .right-column-body {
        justify-content: flex-start;
        .frends-image-box {
          width: 170px;
          height: 170px;
        }
      }
    }
    .signIn-main-container .column {
      .user-image-container .cover-pic p {
        width: 30%;
      }
      .edit-Subcategory div {
        width: 28%;
      }
    }
    .msg-nots-popup .popup-dialog {
      margin: 3.75rem 18.5% 0 0;
      width: 35%;
    }
    .settings-popup .popup-dialog {
      width: 15%;
      margin: 4rem 12.5% 0 0;
    }
    .edit-container {
      justify-content: flex-start;
      .left-column {
        flex: 0.45;
        margin-right: 5%;
        .user-image-container {
          .cover-pic {
            width: 100%;
            height: 150px;
            .shadowBox {
              width: 110px;
              height: 85px;
              .shadow-image-container-image {
                width: 45px;
                height: 35px;
              }
              p {
                font-size: 12px;
              }
            }
          }
          .profile-pic {
            width: 125px;
            height: 125px;
            top: 40%;
            .shadow-image-container-image {
              width: 40px;
              height: 30px;
            }
            p {
              font-size: 9px;
            }
          }
          .edit-Subcategory {
            width: 100%;
          }
        }
        .popup .setPasword {
          padding: 40px 30px 30px;
          width: 50%;
          button {
            min-width: 80px;
          }
        }
        .react-datepicker-popper {
          width: 60%;
        }
        .datePicker-container
          .react-datepicker-popper
          .react-datepicker
          .react-datepicker__month-container
          .react-datepicker__day {
          width: 10%;
        }
      }
      .right-column .edit-right-column {
        .form-submit button {
          min-width: 80px;
        }
        #map {
          height: 270px !important;
        }
      }
    }

    .search-action-button-container {
      div {
        width: 30px;
        height: 30px;
        .btn {
          min-width: 30px;
          height: 30px;
          img {
            min-width: 15px;
            min-height: 12px;
            display: block;
          }
          p {
            display: none;
          }
        }
      }
    }

    .popup {
      .chat .popup-footer .popup-message-input-container .message-popup-smile {
        right: 6%;
      }
      .imageSlider .popup-body {
        .imageSlider-image-raw {
          min-height: 615px;
          .imageSlider-image {
            width: 615px;
            height: 615px;
          }
        }
        .imageSlider-comment-raw {
          width: 310px;
          .comment-raw-header {
            padding: 5px;
          }
        }
      }
      .uploadImage {
        width: 75%;
      }
    }
  }
}
// Admin
.main-container .isSignin-user-main-container-content .main-container-header .container {
  width: 90%;
}
@media only screen and (max-width: 815px) {
  .select-category-selectBox {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 600px) {
  .select-category-selectBox {
    padding: 80px 0;
  }
}
