.edit-container {
    align-self: center;
    width: 90%;
    flex: 0 0 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 80vh;
    margin-top: 102px;
    .column {
        flex: 0.45 0 0;
        .user-image-container{
            position: relative;
            margin-top: 10px;
            .cover-pic {
                margin: 0;
                width: 85%;
                border: none;
                display: flex;
                justify-content: flex-end;
                img {
                    position: absolute;
                }
                p{
                    width: 40%;
                    margin: 0 auto;
                    font-size: 28px;
                    font-family: ubuntu-bold
                }
                .shadowBox {
                    width: 125px;
                    height: 100px;
                    cursor: pointer;
                    .shadow-image-container-image {
                        width: 70px;
                        position: relative;
                        height: 50px;
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                    p {
                        font-size: 14px;
                        width: unset;
                        font-family: ubuntu-regular;
                        cursor: pointer;
                    }
                }


            }
            .profile-pic {
                width: 170px;
                height: 170px;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                img {
                    position: absolute;
                }
                .shadowBox {
                    display: none;
                    transition : display ease-in-out 0.3s;
                }

                .shadow-image-container-image {
                    width: 70px;
                    position: relative;
                    height: 50px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                p {
                    cursor: pointer;
                }
            }
            .profile-pic:hover {
                .shadowBox {
                    display: flex;
                }
            }

        }
        .edit-Subcategory {
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                width: 40%;
                color:#4C5264;
                font-size: 20px;
                padding: 5px 70px 5px 0px;
            }
            div.subCategory {
                display: flex;
                justify-content: flex-start;
                div {
                    margin-left: 5px;
                }
            }
        }
        .edit-left-column {
            margin: 5% 0;
            .react-datepicker-wrapper .form-input {
                width: 100%;
            }
            .react-datepicker-popper {
                height: 300px;
                width: 50%;
                min-width: 340px;
            }
            .bio-form {
                .edit-icon {
                    top: 20%;
                }
            }
            .bio-input {
                height: 10rem;
                resize: none;
                border-radius: 5px;
                border: 1px solid #E6E6E6;
                background: #fff;
                
            }

        }
        .edit-right-column {
            margin:5% 0;
            .location-box-column {
                display: flex;
                justify-content: space-between;
                .form-group {
                    flex: 0.45 0 0;
                }
            }
            .display-none {
                display: none;
            }
            .form-submit{
                display: flex;
                justify-content: flex-end;
                margin: 2% 0;

                .cancel-btn {
                    font-size: 14px;
                    background: #fff;
                    color: #4C5264;
                    height: 30px;
                    padding: 0 5%;
                    min-width: 100px;
                }
                .save-btn {
                    margin-left: 10px;
                    background-image: $hiro-gradient;
                    font-size: 14px;
                    height: 30px;
                    padding: 0 5%;
                    min-width: 100px;
                }

            }
        }

    }
    // general style
    .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 0;
        label {
            color:#4C5264;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .form-input {
            color : #4C5264;
            font-size: 14px;
        }
    }
    .edit-icon{
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        margin: 0 10px;
        background-size: contain;
        cursor: pointer;
    }
}
