.friends-container {
    flex: 0.72 0 0;
    .friends-header{
        border-bottom: 1px solid #5887F9;
        display: flex;
        padding: 2% 1% 0 0;
        .friends-nav-tab {
            font-size: 16px;
            font-family: ubuntu-bold;
            margin-right: 20px;
            cursor: pointer;
            color: #5887F9;
            opacity: 0.5;
            padding-bottom: 5px;
        }
        .active {
            opacity: 1;
            border-bottom: 1.5px solid #5887f9;
        }
        
    }
    .friends-body {
        display: flex;
        flex-wrap: wrap;

        .frends-image-container {
            width: 185px;
            height: 185px;
            margin: 20px 25px 10px;
            div{
                height: 25px;
                :first-child {
                    font-size: 13px;
                }
                :last-child {
                    font-size: 9px;
                }
            }
 
        }
        .action-button-container  {
            justify-content: space-between;
            margin: 0 5px;
            div {
                flex: 0.48;
            }
        }
    }
}
