.media-container {
    flex: 0.73 0 0;
    .media-header {
        padding: 40px 15px;
        font-size: 16px;
        color: #5887F9;
        font-family: ubuntu-bold;
    }
    .media-body {
        display: flex;
        flex-wrap: wrap;
        .add-image-container{
            position: relative;
            .react-fine-uploader-file-input-container {
                display: flex!important;
            }
            input { 
                width: 90%;
                height: 90%;
                margin: 5%;
            }
        }
        .Photos-image-container {
            width: 200px;
            height: 200px;
        }
        .add-Photo-box {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E6E6E6;
            background: #FAFAFA;
            img{
                width: 50px;
                object-fit: contain;
            }
            div {
                left: 0;
                bottom: 20%;
                :first-child {
                    text-align: center;
                    color: #60C3FF;
                    font-size: 16px;
                    text-shadow: unset;
                }
            }
        }
    }
}