.home-second-container {
//   height: 100vh;
  font-size: 20px;
  color: $hero-font-color;
  background: #eaeaea;
  header {
    font-family: gothamBblack;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.16;
    letter-spacing: 2.2px;
    text-align: center;
    color: #394f8f;
    padding: 100px;
  }
  .text-container {
    display: flex;
    align-items: center;
    font-family: GothamRounded;
    font-size: 22px;
    line-height: 1.45;
    text-align: left;
    color: #394f8f;
    .about-text {
      width: 70%;
      position: relative;
    }
    .left-text {
        padding: 100px 0px 100px 325px;
    }
    .right-text {
        padding: 100px 325px 100px 0;
    }
  }
  .right-text-container {
    justify-content: flex-end;
  }
  .about-img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    .about-img {
      background: #eaeaea;
      img {
        object-fit: contain;
      }
    }

  }
  .left-text-container .about-img-container .about-img {
    left: 145px;
  }
  .right-text-container .about-img-container .about-img {
    right: 145px;
  }
}
